---
---

@import "colors";
@import "variables";
@import "mixins";
@import "cards";
@import "footer";
@import "animation";
@import "helpers";
@import "sidebar";
@import "menu-overlay";

body {
    counter-reset: process;
}

.btn-group-vertical > .btn-group:after, .btn-group-vertical > .btn-group:before, .btn-toolbar:after, .btn-toolbar:before, .clearfix:after, .clearfix:before, .container-fluid:after, .container-fluid:before, .container:after, .container:before, .dl-horizontal dd:after, .dl-horizontal dd:before, .form-horizontal .form-group:after, .form-horizontal .form-group:before, .modal-footer:after, .modal-footer:before, .nav:after, .nav:before, .navbar-collapse:after, .navbar-collapse:before, .navbar-header:after, .navbar-header:before, .navbar:after, .navbar:before, .pager:after, .pager:before, .panel-body:after, .panel-body:before, .row:after, .row:before, .section-content:after, .section-content:before, .section--detailed .card {
    content: " ";
    display: table;
    clear: both;
}

*, :after, :before {
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

a {
    color: #00aadf;
    text-decoration: none;
}

.container,
.container-fluid {
    max-width: 1210px;
    padding: 0 20px;
    margin: auto;
}

.collapse {
    display: none;
}

.btn {
    display: inline-block;
    margin-bottom: 0;
    font-weight: 400;
    text-align: center;
    vertical-align: middle;
    touch-action: manipulation;
    cursor: pointer;
    border: 1px solid transparent;
    border: none;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 16px;
    line-height: 1.42857143;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    &:hover {
        text-decoration: none;
    }
}


.list-cards {
    &::before,
    &::after {
        display: none;
    }
}

.card {
    position: relative;
    background-color: #ffffff;
    width: calc(100% / 3 - 20px);
    margin-top: 40px;
    padding: 40px 40px 124px;
    border-radius: 4px;
    text-align: center;
    box-shadow: 0 2px 3px 0 rgba(0, 0, 0, 0.12),
                0 0 2px 0 rgba(0, 0, 0, 0);
}

.card-title {
    margin: 0;
    font-size: 20px;
    font-weight: 700;
    line-height: 1.2;
    color: #444f6c;
}

.card-description {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.56;
    color: #888fa1;
    margin: 30px 0 0;

    + a {
        font-size: 16px;
        font-weight: 700;
        line-height: 1.5;
        color: #00aadf;
        display: inline-block;
        margin-top: 24px;
    }
}


.cards-flashy {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    margin: 0 auto;

    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }

    .card {
        position: relative;
        width: calc(100% / 3 - 20px);
        min-height: 364px;
        margin-top: 64px;
        padding: 0;
        text-decoration: none;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.1), 0 0 2px 0 rgba(0, 0, 0, 0.1);
        transition: box-shadow ease-out 0.2s;
        cursor: pointer;
        overflow: hidden;

        &:hover,
        &:active {
            box-shadow: 0 19px 38px 0 rgba(0, 0, 0, 0.3),
                        0 15px 12px 0 rgba(0, 0, 0, 0.2);
            text-decoration: none;
        }

        &:last-child .card-content {
            padding-right: 15px;
        }

        @media (max-width: 992px) {
            width: 260px;
        }

        /* just until Elvis figures something better :) */
        @media (max-width: 882px) {
            width: 230px;
        }

        @media (max-width: 768px) {
            width: 100%;
            max-width: 480px;
        }
    }

    .card-content {
        padding: 24px;
        text-align: left;

        .card-title {
            color: #444f6c;
            font-size: 17px;
            font-weight: 700;
            line-height: 1.41;
            margin-top: 0;
        }

        p {
            font-size: 15px;
            margin-top: 8px;
            line-height: 1.6;
            color: #697289;
            max-height: 4.5rem;
            overflow: hidden;

            &.bottom-link {
                position: absolute;
                bottom: 1em;
                color: #888fa1;
            }

            @media (max-width: 1023px) {
                font-size: 14px;
                max-height: 4rem;
            }
        }
    }

    .card-image {
        width: 100%;
        height: 180px;
        line-height: 180px;
        overflow: hidden;

        img {
            vertical-align: middle;
            width: auto;
        }

        &.black {
            background-color: #232b40;
        }

        &.purple {
            background-color: #313c59;
        }

        &.blue {
            background-color: #00aadf;
        }
    }
}


/* Navbar */

.navbar {
    position: relative;
    min-height: 80px;
    margin-bottom: 22px;
    border: 1px solid transparent;
    padding: 0;

    .container-fluid {
        max-width: 1210px;
    }

    &::before,
    &::after {
        display: none;
    }
}

.navbar-default {
    background-color: #fff;
    border-color: #eee;
}

.nav {
    margin: 0;
    padding: 0;
    list-style: none;

    > li,
    > li > a {
        display: block;
    }
}

.navbar-toggle {
    border: none;
    padding: 18px 15px;
    margin: 16px 0 0;
    position: relative;
    float: right;
    background-color: transparent;
    border-radius: 4px;

    .sr-only {
        position: absolute;
        width: 1px;
        height: 1px;
        margin: -1px;
        padding: 0;
        overflow: hidden;
        clip: rect(0,0,0,0);
        border: 0;
    }

    .icon-bar {
        display: block;
        width: 17px;
        height: 1px;
        border-radius: 1px;
        background-color: #888;

        + .icon-bar {
            margin-top: 4px;
        }
    }
}

.navbar-fixed-bottom,
.navbar-fixed-top {
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

.navbar-fixed-top {
    top: 0;
}

.navbar-brand {
    float: left;
    padding: 29px 15px;
    font-size: 20px;
    line-height: 22px;
    height: 80px;
}

.home .navbar-brand--logo {
    margin-left: 0;
}

.navbar-nav .btn-primary {
    padding: 12px 16px 0 !important;
    margin-right: 0;

    &:hover {
        border: none !important;
    }
}

.navbar-nav--a--link {
    &:hover {
        text-decoration: none;
    }
}

@media (min-width: 768px) {
    .navbar-header {
        float: left;
    }

    .navbar-nav {
        float: left;

        > li {
            float: left;
        }
    }

    .navbar-right {
        float: right !important;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-collapse {
        width: auto;
        border-top: 0;
        box-shadow: none;

        &.collapse {
            display: block!important;
            height: auto!important;
            padding-bottom: 0;
            overflow: visible!important;
            float: right;
        }
    }
}



/* Page */

.page-header,
.page-content {
    padding: 0;
    margin: auto;
    background-color: #ffffff;
}

.page-header {
    background: #00aadf;
    padding: 0;

    .container {
        max-width: 1210px;
        min-height: 534px;
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;

        @media (max-width: 960px) {
            flex-direction: column-reverse;
        }

        &::before,
        &::after {
            display: none;
        }

        .header-image {
            margin-left: 64px;
            margin-bottom: -128px;

            img {
                max-width: 100%;
            }

            @media (max-width: 1023px) {
                position: absolute;
                top: 100px;
                right: 20px;
                width: 320px;
                z-index: 0;
                margin-left: 0;
                margin-bottom: 0;
            }

            @media (max-width: 960px) {
                position: static;
                width: 100%;
                text-align: center;
                margin-top: 48px;

                img {
                    max-width: 285px;
                }
            }
        }
    }
}

.header-text {
    margin-top: 54px;
    position: relative;
    z-index: 1;

    @media (max-width: 959px) {
        max-width: 500px;
        margin-top: 32px;
        padding-bottom: 48px;
        text-align: center;

        br {
            display: none;
        }
    }
}

.btn-signup {
    font-size: 13px;
    font-weight: bold;
    letter-spacing: 1.5px;
    margin-top: 48px;
    padding: 22px 30px 21px;
    color: #444f6c;
    background-color: #ffffff;
    text-transform: uppercase;
}

.page-title {
    font-size: 48px;
    font-weight: 100;
    line-height: 1.17;
    margin: 0;
    color: #ffffff;

    @media (max-width: 479px) {
        font-size: 24px;
        line-height: 1.5;
        max-width: 340px;
        margin-left: auto;
        margin-right: auto;
    }
}

.page-description {
    font-size: 16px;
    font-weight: 300;
    line-height: 1.5;
    margin: 24px 0 0;
    color: #ffffff;

    @media (max-width: 479px) {
        max-width: 330px;
    }
}



/* Sections */

section {
    padding: 96px 0;
}

.section-title {
    font-size: 32px;
    font-weight: 300;
    line-height: 1.52;
    margin: 0;
    text-align: center;

    @media (max-width: 479px) {
        font-size: 24px;
        line-height: 1.5;
    }
}

.section-description {
    max-width: 570px;
    margin: 18px auto 0;
    font-size: 18px;
    font-weight: 300;
    line-height: 1.56;
    text-align: center;
    color: #7b8397;
}

.section-content {
    margin-top: 48px;
}

.section--intro {
    background-color: #e5f7fc;

    .section-content {
        max-width: 1170px;
        margin-left: auto;
        margin-right: auto;
        padding: 0;
        white-space: nowrap;
    }

    .documentation-links {
        font-size: 18px;
        font-weight: bold;
        line-height: 1.22;
        list-style: none;
        margin: -40px 0 0;
        padding: 0;



        li {
            width: calc(100% / 3 - 20px);
            margin: 40px 0 0 30px;
            padding: 0 0 0 24px;
            float: left;
            overflow: hidden;
            text-overflow: ellipsis;
            color: #06a9df;

            &:first-child {
                margin-left: 0;
            }

            @media (min-width: 960px) {
                &:nth-child(3n + 1) {
                    margin-left: 0;
                }
            }

            @media (max-width: 959px) {
                width: calc(100% / 2 - 30px);
            }

            @media (min-width: 600px) and (max-width: 959px) {
                &:nth-child(2n + 1) {
                    margin-left: 0;
                }
            }

            @media (max-width: 599px) {
                width: 100%;
                margin-left: 0;
            }
        }
    }

    .card {
        width: 40%;
        max-width: 330px;
        float: left;
        text-align: center;

        + .card {
            float: right;
        }

        img {
            max-width: 100%;
            height: auto;
            display: block;
            margin: auto;
        }
    }

    .card-title {
        font-size: 20px;
        font-weight: 500;
        line-height: 1.3;
        color: #444f6c;
        margin: 48px 0 0;
    }

    .card-description {
        font-size: 14px;
        font-weight: 500;
        line-height: 1.71;
        color: #888fa1;
        margin: 16px 0 0;
    }
}

.section--detailed {
    .section-content {
        padding: 0 30px;
    }

    .card {
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        padding: 0;
        margin-top: 16px;
        box-shadow: none;
        text-align: left;

        @media (max-width: 959px) {
            flex-direction: column !important;
        }

        + .card {
            margin-top: 64px;
        }
    }

    .card-image {
        width: 46%;
        max-width: 510px;

        @media (max-width: 959px) {
            width: 100%;
            max-width: 100%;
            text-align: center;

            img {
                width: 100%;
                max-width: 480px;
            }
        }
    }

    .card-text {
        padding: 0;
        width: 42.35%;
        max-width: 470px;
        position: relative;

        &::before {
            counter-increment: process;
            content: counter(process);
            position: absolute;
            z-index: 0;
            top: 0;
            left: 50%;
            transform: translate(-55%, -20%);
            color: #00aadf;
            font-size: 240px;
            font-weight: 700;
            line-height: 0.875;
            opacity: 0.08;
            text-align: center;

            @media (max-width: 767px) {
                transform: translate(-60%, -12%);
            }
        }

        @media (max-width: 959px) {
            width: 100%;
            max-width: 480px;
            margin-top: 24px;
            text-align: center;
            padding-left: 0 !important;

            &::before {
                display: none;
            }
        }
    }

    .card-title {
        font-size: 24px;
        font-weight: 500;
        margin: 0;
    }

    .card-description {
        font-size: 17px;
        font-weight: 300;
        line-height: 1.65;
        color: #7c8398;
        margin: 30px 0 0 0;
    }

    .card:nth-child(2n) {
        flex-direction: row-reverse;

        .card-text {
            padding-left: 40px;

            &::before {
                left: calc(50% + 40px);
            }
        }
    }
}

.section--extensions {
    background-color: #e6f7fc;

    .section-description {
        max-width: 330px;
    }
}

.list-extensions {
    margin-top: 40px;
    text-align: center;

    p {
        margin: 28px 0 0;
        font-size: 15px;
    }

    .btn-more {
        font-size: 13px;
        font-weight: bold;
        letter-spacing: 1.5px;
        margin-top: 48px;
        padding: 16px 30px 15px;
        color: #ffffff;
        background-color: #00aadf;
        text-transform: uppercase;
    }

    ul {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
    }

    ul,
    li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        width: 116px;
        margin: 22px 0 0;
        position: relative;
        padding-top: 88px;
        text-align: center;
        font-size: 0.875rem;
        color: #434f6b;

        &::before {
            content: "";
            position: absolute;
            width: 80px;
            height: 80px;
            border-radius: 4px;
            top: 0;
            left: 18px;
            background: #ffffff url(../img/home/about.svg) 16px 16px no-repeat;
        }

        &.item-news::before {
            background-image: url(../img/home/news.svg);
        }

        &.item-ecommerce::before {
            background-image: url(../img/home/ecommerce.svg);
        }

        &.item-loyalty::before {
            background-image: url(../img/home/loyalty.svg);
        }

        &.item-places::before {
            background-image: url(../img/home/places.svg);
        }

        &.item-notifications::before {
            background-image: url(../img/home/notifications.svg);
        }

        &.item-users::before {
            background-image: url(../img/home/users.svg);
        }

        &.item-radio::before {
            background-image: url(../img/home/radio.svg);
        }

        &.item-social::before {
            background-image: url(../img/home/social.svg);
            background-position: 24px 24px;
        }

        &.item-instagram::before {
            background-image: url(../img/home/instagram.svg);
        }

        &.item-youtube::before {
            background-image: url(../img/home/youtube.svg);
        }

        &.item-rss::before {
            background-image: url(../img/home/rss.svg);
        }

        &.item-firebase::before {
            background-image: url(../img/home/firebase.svg);
            background-position: 28px 24px;
        }

        &.item-analytics::before {
            background-image: url(../img/home/analytics.svg);
        }

        &.item-shopify::before {
            background-image: url(../img/home/shopify.svg);
        }

        &.item-wordpress::before {
            background-image: url(../img/home/wordpress.svg);
        }

        &.item-cms::before {
            background-image: url(../img/home/cms.svg);
        }

        &.item-stripe::before {
            background-image: url(../img/home/stripe.svg);
            background-position: 29px 25px;
        }

        &.item-discounts::before {
            background-image: url(../img/home/discounts.svg);
        }

        &.item-webview::before {
            background-image: url(../img/home/webview.svg);
        }

        &.item-events::before {
            background-image: url(../img/home/events.svg);
        }

        &.item-more::before {
            background-image: url(../img/home/more.svg);
            background-position: 16px 16px;
        }
    }
}


.section--cases {
    background: #f5f6f7;

    .section-title {
        font-size: 32px;
        font-weight: 300;
    }

    .section-content {
        margin-top: 24px;
    }

    .list-cards {
        flex-wrap: wrap;
        
        @media (max-width: 1226px) {
            justify-content: center;
        }
    }

    .card {
        width: calc(100% / 3 - 30px);
        min-width: 360px;

        @media (min-width: 768px) {
            margin-left: 15px;
            margin-right: 15px;
        }

        @media (max-width: 479px) {
            min-width: 100%;
            padding: 40px 30px;
        }
    }

    .card-image {
        width: 44px;
        height: 44px;
        float: left;
        border-radius: 50%;
    }

    .card-description {
        margin-top: 24px;
    }

    .card-person {
        position: absolute;
        bottom: 38px;
        left: 40px;
        width: calc(100% - 80px);

        @media (max-width: 479px) {
            position: static;
            margin-top: 32px;
            width: auto;
        }
    }

    .card-person-text {
        width: calc(100% - 58px);
        float: right;
        text-align: left;
    }

    .card-person-name {
        margin: 0;
        font-size: 16px;
        font-weight: 500;
    }

    .card-person-role {
        margin: 6px 0 0;
        font-size: 14px;
        font-weight: 500;
        color: #444f6c;
    }
}

.section--benefits {
    background: #313c59 url(../img/home/benefits.jpg) calc(46.5% + 419px) 270px no-repeat;
    background-size: 899px;
    color: #ffffff;

    @media only screen and ( -webkit-min-device-pixel-ratio: 1.3 ),
        only screen and ( min--moz-device-pixel-ratio: 1.3 ),
        only screen and ( min-device-pixel-ratio: 1.3 ),
        only screen and ( min-resolution: 124.8dpi ),
        only screen and ( min-resolution: 1.3dppx ) {
            background-image: url(../img/home/benefits@2x.jpg);
    }

    @media (max-width: 900px) {
        background-position: center 35%;
        background-size: 420px;

        .section-content {
            padding-top: 220px;
        }
    }

    @media (max-width: 479px) {
        background-position: center 32%;
    }

    .container {
        max-width: 1010px;
    }

    .section-title {
        color: #FFFFFF;
    }

    .section-description {
        color: #bbbfcb;
        max-width: 385px;
    }

    .checklist {
        list-style: none;
        margin: 0;
        padding: 0;
        margin-top: 40px;
        text-align: left;

        &::after {
            content: "";
            display: table;
            clear: both;
        }

        li {
            font-size: 0.975rem;
            line-height: 1.6;
            color: #bbbfcb;
            margin: 0;
            padding: 16px 0 16px 68px;
            width: auto;
            float: none;
            width: calc(50% - 32px);
            min-width: 220px;
            background: url(../img/home/pricing-check-icon-blue.svg) 0 8px no-repeat;

            @media (max-width: 900px) {
                width: auto;
            }

            &:nth-child(odd) {
                margin-right: 48px;
                clear: left;

                @media (max-width: 600px) {
                    margin-right: 0;
                }
            }

            + li {
                margin-top: 8px;
            }

            h3 {
                margin: 0;
                font-size: 16px;
                font-weight: bold;
                line-height: 1.88;
                letter-spacing: 0.2px;
                color: #ffffff;
            }

            p {
                margin: 10px 0 0;
                font-size: 16px;
                font-weight: 500;
                max-width: 300px;
                line-height: 1.63;

                @media (max-width: 900px) {
                    max-width: none;
                }
            }
        }
    }
}

.section--community {
    .section-title {
        font-size: 32px;
        font-weight: 300;
        text-align: center;
        color: #313c59;
    }

    .section-content {
      margin-top: 0;
    }
}

.symbol-heart {
    color: transparent;
    background: url(../img/home/symbol-heart.svg) center center no-repeat;
    width: 1em;
    background-size: 0.75em;
    display: inline-block;
}