					<div class="section-content">
						<div class="container screen-type-cards">
							<h4 class="subtitle">40+ full-featured extensions</h4>
							<div id="screen-type-cards" class="dragdealer">
								<div class="handle" style="width: 4042px;">
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-main-navigation-image.svg" alt="">
											<h5 class="card-title">Main navigation</h5>
											<p>App-level navigation</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-news-image.svg" alt="">
											<h5 class="card-title">News</h5>
											<p>Show news articles</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-events-image.svg" alt="">
											<h5 class="card-title">Events</h5>
											<p>Show items with location and time</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-products-image.svg" alt="">
											<h5 class="card-title">Products</h5>
											<p>Show products with purchase link</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-photos-image.svg" alt="">
											<h5 class="card-title">Photos</h5>
											<p>Show a photo gallery</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-videos-image.svg" alt="">
											<h5 class="card-title">Videos</h5>
											<p>Show a video gallery</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-about-image.svg" alt="">
											<h5 class="card-title">About</h5>
											<p>Show info about your app or your business</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-places-image.svg" alt="">
											<h5 class="card-title">Places</h5>
											<p>Show items with location</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-menu-items-image.svg" alt="">
											<h5 class="card-title">Restaurant menu</h5>
											<p>Show a restaurant menu</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-books-image.svg" alt="">
											<h5 class="card-title">Books</h5>
											<p>Show books and authors</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-news-rss-image.svg" alt="">
											<h5 class="card-title">RSS News</h5>
											<p>Show news articles from RSS feed</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-people-image.svg" alt="">
											<h5 class="card-title">People</h5>
											<p>Show people and contact details</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-web-page-image.svg" alt="">
											<h5 class="card-title">Web view</h5>
											<p>Show a web page in-app or in a browser</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-favorites-image.svg" alt="">
											<h5 class="card-title">Favorites</h5>
											<p>Extensions that are using Shoutem Favorites extensions are able to store and retrieve items that that app user has bookmarked in local app storage. </p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-folder-image.svg" alt="">
											<h5 class="card-title">Navigation</h5>
											<p>Shows sub-navigation for the nested screen</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-radio-image.svg" alt="">
											<h5 class="card-title">Radio</h5>
											<p>Stream a radio station</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-videos-rss-image.svg" alt="">
											<h5 class="card-title">RSS Videos</h5>
											<p>Show a video gallery from RSS feed</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-videos-vimeo-image.svg" alt="">
											<h5 class="card-title">Vimeo videos</h5>
											<p>Show Vimeo video gallery</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/extensions/add-videos-youtube-image.svg" alt="">
											<h5 class="card-title">YouTube videos</h5>
											<p>Show YouTube video gallery</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="container layout-cards">
							<h4 class="subtitle">Mobile backend services</h4>
							<div id="layout-cards" class="dragdealer">
								<div class="handle" style="width: 2330px;">
									<div class="card">
										<div class="inner">
											<img src="img/cards/services/add-analytics-image.svg" alt="">
											<h5 class="card-title">Analytics</h5>
											<p>Track Shoutem events</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/services/add-authentication-image.svg" alt="">
											<h5 class="card-title">User authentication</h5>
											<p>Show user profile, sign out user</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/services/add-cms-image.svg" alt="">
											<h5 class="card-title">CMS</h5>
											<p>Shoutem CMS extension</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/services/add-code-push-image.svg" alt="">
											<h5 class="card-title">Code push</h5>
											<p>Provides CodePush support for over the air code updates</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/services/add-firebase-image.svg" alt="">
											<h5 class="card-title">Firebase</h5>
											<p>Firebase integration for sending push notifications, storage&hellip;</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/services/add-google-analytics-image.svg" alt="">
											<h5 class="card-title">Google Analytics</h5>
											<p>Enables Google Analytics</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/services/add-layouts-image.svg" alt="">
											<h5 class="card-title">Layouts</h5>
											<p>Shoutem Layout extension</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/services/add-push-notifications-image.svg" alt="">
											<h5 class="card-title">Push notifications</h5>
											<p>Base extension for push notifications</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/services/add-rss-image.svg" alt="">
											<h5 class="card-title">RSS feeds</h5>
											<p>Shoutem RSS extension</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/services/add-shopify-image.svg" alt="">
											<h5 class="card-title">Shopify</h5>
											<p>Shopify integration</p>
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/services/add-theme-image.svg" alt="">
											<h5 class="card-title">Themes</h5>
											<p>Resolve and store theme related configuration</p>
										</div>
									</div>
								</div>
							</div>
						</div>

						<div class="container visual-style-cards">
							<h4 class="subtitle">Carefully crafted themes for you to use and customize</h4>
							<div id="visual-style-cards" class="dragdealer">
								<div class="handle"  style="width: 1270px;">
									<div class="card">
										<div class="inner">
											<img src="img/cards/themes/theme-1.jpg" 
												 srcset="img/cards/themes/theme-1.jpg 1x,
												 		 img/cards/themes/theme-1@2x.jpg 2x" alt="" />
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/themes/theme-2.jpg" 
												 srcset="img/cards/themes/theme-2.jpg 1x,
												 		 img/cards/themes/theme-2@2x.jpg 2x" alt="" />
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/themes/theme-3.jpg" 
												 srcset="img/cards/themes/theme-3.jpg 1x,
												 		 img/cards/themes/theme-3@2x.jpg 2x" alt="" />
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/themes/theme-4.jpg" 
												 srcset="img/cards/themes/theme-4.jpg 1x,
												 		 img/cards/themes/theme-4@2x.jpg 2x" alt="" />
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/themes/theme-5.jpg" 
												 srcset="img/cards/themes/theme-5.jpg 1x,
												 		 img/cards/themes/theme-5@2x.jpg 2x" alt="" />
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/themes/theme-6.jpg" 
												 srcset="img/cards/themes/theme-6.jpg 1x,
												 		 img/cards/themes/theme-6@2x.jpg 2x" alt="" />
										</div>
									</div>
									<div class="card">
										<div class="inner">
											<img src="img/cards/themes/theme-7.jpg" 
												 srcset="img/cards/themes/theme-7.jpg 1x,
												 		 img/cards/themes/theme-7@2x.jpg 2x" alt="" />
										</div>
									</div>
									
								</div>
							</div>
						</div>
					</div>
