<footer class="footer">
  <div id="signup" class="signup">
    <div class="signup-title">
      Be a part of our community
    </div>
    <div class="signup-description">
      Shoutem is a mobile app creator and development environment based on top of React Native
    </div>

   <a href="https://www.facebook.com/groups/shoutem.community/" class="btn btn-join signup-button">
    Join us on Facebook
   </a>
  </div>  
  
  <div class="bottom-footer">
    <div class="container-fluid">
      <a href="http://new.shoutem.com" class="footer-logo"></a>
      <ul class="footer-menu">
        <li><a href="http://new.shoutem.com/about">About</a></li>
        <li><a href="http://new.shoutem.com/terms-of-service">Terms of service</a></li>
        <li><a href="http://new.shoutem.com/about/contact-us">Contact us</a></li>
        <li class="icon-github"><a href="https://github.com/shoutem/shoutem.github.io">Github</a></li>
        <li class="icon-twitter"><a href="https://twitter.com/shoutem">Twitter</a></li>
      </ul>
    </div>
  </div>
</footer>
