<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{{ site.description }}">

    <link rel="stylesheet" type="text/css" href="/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="/css/style.css">
    
    <link rel="icon" sizes="192x192" href="/img/launcher-icon-4x.png">
    <link rel="apple-touch-icon" href="/img/touch-icon-iphone.png">
    <link rel="apple-touch-icon" sizes="76x76" href="/img/apple-touch-icon-ipad.png">
    <link rel="apple-touch-icon" sizes="120x120" href="/img/appple-touch-icon@2x.png">
    <link rel="apple-touch-icon" sizes="152x152" href="/img/apple-touch-icon-ipad@2x.png">
    <link rel="apple-touch-icon" sizes="180x180" href="/img/appple-touch-icon@3x.png">
    
