<nav class="navbar navbar-default navbar-fixed-top">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			<a class="navbar-brand" href="{{ site.baseurl }}/">
				<span class="navbar-brand--logo">Shoutem</span>
			</a>

			<ol class="breadcrumb navbar-left">
				<li class="page-section">{{ page.section }}</li>
				<li class="page-title">{{ page.title }}</li>
			</ol>
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				<li id="documentationTab"><a class="navbar-nav--a--link" href="{{ site.baseurl }}/docs/getting-started/introduction">Documentation</a></li>
				<li id="signup-button"><a href="#signup" class="btn btn-primary">Sign up for beta</a></li>
			</ul>
		</div>

	</div>
</nav>
