<nav class="navbar navbar-default navbar-fixed-top headroom">
	<div class="container-fluid">

		<div class="navbar-header">
			<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
				<span class="sr-only">Toggle navigation</span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
				<span class="icon-bar"></span>
			</button>

			
				{% if .page.title %}
					<a class="navbar-brand" href="{{ site.baseurl }}/">
						<svg width="18px" height="18px" viewBox="0 0 18 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
						    <g id="documentation-logo" transform="translate(-31.000000, -31.000000)" fill="#00AADF">
						        <path d="M32.7621883,49 C32.1600337,49 31.5861304,48.6779372 31.2640665,48.1589238 C30.9484601,47.6520179 30.9145586,47.0296861 31.1688196,46.4864574 L37.2323381,32.0380269 C37.2404099,32.0186547 37.2492888,31.9992825 37.2581678,31.9807175 C37.5576307,31.3753363 38.1646283,31 38.840236,31 C39.3100134,31 39.7523467,31.1832287 40.0857111,31.5165919 L48.4835874,39.9144395 C48.8839475,40.3156054 49.0687912,40.8878924 48.9767729,41.4472646 C48.8839475,42.0066368 48.5255606,42.4901345 48.0178459,42.7411659 C47.9992808,42.7500448 47.9799085,42.7589238 47.9613434,42.7669955 L33.5136706,48.8304933 C33.2739389,48.9426906 33.0212923,49 32.7621883,49 L32.7621883,49 Z M38.9274112,33.2124664 L33.2448805,46.7544395 L46.7868999,41.0711211 L38.9274112,33.2124664 L38.9274112,33.2124664 Z" id="ic-shoutem-mark"></path>
						    </g>
						</svg>
					</a>
				{% else %}
					<a class="navbar-brand" href="http://new.shoutem.com">
						<span class="navbar-brand--logo">Shoutem</span>
					</a>
				{% endif %}
			</a>

			{% if .page.title %}
			<ol class="breadcrumb navbar-left">
				<li class="page-section">{{ page.section }}</li>
				<li class="page-title">{{ page.title }}</li>
			</ol>
			{% endif %}
		</div>

		<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
			<ul class="nav navbar-nav navbar-right">
				{% if .page.title %}
				<li>
					<form class="navbar-search-form navbar-form navbar-right navbar-form-border" role="search">
						<div class="form-group">
							<img class="search-icon" src="{{ site.baseurl }}/img/ui-toolkit/icons/search.png" />
							<input id="navbar-search-input" placeholder="Search..." type="text">
						</div>
					</form>
				</li>
				<li class="edit-link"><a href="https://github.com/shoutem/shoutem.github.io/blob/master/{{ page.path }}">Edit this page</li>
				{% endif %}
				<li id="documentationTab"><a class="navbar-nav--a--link" href="{{ site.baseurl }}/docs/extensions/tutorials/getting-started">Documentation</a></li>
				<li id="signup-button"><a href="#signup" class="btn btn-primary">Stay informed</a></li>
			</ul>
		</div>

	</div>
</nav>
