<ul class="sidebar-nav navigation level-1" id="menu">

	<li class="hidden-md hidden-lg home-link"><a href="/">Shoutem Developers</a></li>

	<!-- Getting started -->
	<li>
		<a class="menu-group-title" href="{{ site.baseurl }}/docs/extensions/tutorials/getting-started">Getting started</a>
	</li>

	<!-- My first extension -->
	<li><a href="{{ site.baseurl }}/docs/extensions/my-first-extension/introduction">My first extension</a></li>
		<ul id="extensions" class="menu-group-wrapper level-2">
			<li><a href="{{ site.baseurl }}/docs/extensions/my-first-extension/introduction">Introduction</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/my-first-extension/initializing-extension">Creating an extension</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/my-first-extension/shortcut-and-screen">Creating screens and shortcuts</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/my-first-extension/using-ui-toolkit">Using UI Toolkit</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/my-first-extension/using-cloud-storage">Using Cloud Storage</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/my-first-extension/working-with-data">Working with data</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/my-first-extension/publish">Publishing</a></li>
		</ul>
	</li>

	<!-- Guides -->
	<li><a class="menu-group-title" href="{{ site.baseurl }}/docs/extensions/tutorials/setting-local-environment">Guides</a>
		<ul id="extensions-tutorials" class="menu-group-wrapper level-2">
			<li><a href="{{ site.baseurl }}/docs/extensions/tutorials/setting-local-environment">Local environment setup</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/tutorials/publish-your-app">Publish your app</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/tutorials/connecting-to-api">Connecting to 3rd party API</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/tutorials/installing-3rd-party-packages">Installing 3rd Party Packages</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/tutorials/writing-a-theme">Writing a theme</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/tutorials/screen-layouts">Screen layouts</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/tutorials/using-localization">Localization</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/tutorials/setting-up-instagram">Setting up Instagram</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/tutorials/modifying-extensions">Modifying extensions</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/tutorials/using-native-api">Using native API</a></li>
			<li>
				<a class="menu-group-title" href="{{ site.baseurl }}/docs/extensions/tutorials/settings-pages-introduction">Settings pages</a>
				<ul id="ui-toolkit-components" class="menu-group-wrapper level-3">
					<li><a href="{{ site.baseurl }}/docs/extensions/tutorials/settings-pages-introduction">Introduction</a></li>
					<li><a href="{{ site.baseurl }}/docs/extensions/tutorials/writing-react-settings-page">Writing React settings pages</a></li>
					<li><a href="{{ site.baseurl }}/docs/extensions/tutorials/writing-html-settings-page">Writing HTML settings pages</a></li>
					<li><a href="{{ site.baseurl }}/docs/extensions/tutorials/debug-settings-pages">Local development</a></li>
				</ul>
			</li>
		</ul>
	</li>

	<!-- Reference -->
	<li>
		<a class="menu-group-title" href="{{ site.baseurl }}/docs/extensions/reference/overview">Reference</a>
		<ul id="extensions-tutorials" class="menu-group-wrapper level-2">
			<li><a href="{{ site.baseurl }}/docs/extensions/reference/overview">Technical Overview</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/reference/extension">Extension file format</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/reference/platform">Platform</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/reference/extension-exports">Extension exports</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/reference/settings-types">Settings types</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/reference/theme-variables">Theme variables</a></li>
			<li><a href="{{ site.baseurl }}/docs/extensions/reference/cli">CLI</a></li>
		</ul>
	</li>

	<!-- UI toolkit -->
	<li>
		<a class="menu-group-title" href="{{ site.baseurl }}/docs/ui-toolkit/introduction">Shoutem UI toolkit</a>
		<ul id="ui-toolkit" class="menu-group-wrapper level-2">
			<!-- Introduction -->
			<li><a href="{{ site.baseurl }}/docs/ui-toolkit/introduction">Introduction</a></li>
			<!-- Components -->
			<li>
				<a class="menu-group-title" href="{{ site.baseurl }}/docs/ui-toolkit/components/typography">Components</a>
				<ul id="ui-toolkit-components" class="menu-group-wrapper level-3">
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/typography">Typography</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/navigation-bar">NavigationBar</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/dropdown-menu">DropDownMenu</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/list-view">ListView</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/grid-view">GridView</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/cards">Cards</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/dividers">Dividers</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/rows">Rows</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/tiles">Tiles</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/spinner">Spinner</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/buttons">Buttons</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/switch">Switch</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/image">Image</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/image-background">ImageBackground</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/image-preview">ImagePreview</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/inline-gallery">InlineGallery</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/image-gallery">ImageGallery</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/icons">Icons</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/view">View</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/screen">Screen</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/touchable-opacity">TouchableOpacity</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/touchable">Touchable</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/headers">Headers</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/overlay">Overlay</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/text-input">TextInput</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/video">Video</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/lightbox">Lightbox</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/components/html">HTML</a></li>
				</ul>
			</li>
			<!-- Theme -->
			<li>
				<a href="{{ site.baseurl }}/docs/ui-toolkit/theme/introduction">Theme</a>
			</li>
			<!-- Animation -->
			<li>
				<a class="menu-group-title" href="{{ site.baseurl }}/docs/ui-toolkit/animation/introduction">Animation</a>
				<ul id="ui-toolkit-animation" class="menu-group-wrapper level-3">
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/animation/introduction">Introduction</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/animation/driver">Driver</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/animation/fade-in">FadeIn</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/animation/fade-out">FadeOut</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/animation/zoom-in">ZoomIn</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/animation/zoom-out">ZoomOut</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/animation/parallax">Parallax</a></li>
					<li><a href="{{ site.baseurl }}/docs/ui-toolkit/animation/combining-animations">Combining Animations</a></li>
				</ul>
			</li>
		</ul>
	</li>

	<!-- Shoutem Cloud -->
	<li>
	<a class="menu-group-title" href="{{ site.baseurl }}/docs/cloud/introduction">Shoutem Cloud</a>
		<ul id="ui-toolkit" class="menu-group-wrapper level-2">
			<!-- Introduction -->
			<li><a href="{{ site.baseurl }}/docs/cloud/introduction">Introduction</a></li>
			<li><a href="{{ site.baseurl }}/docs/cloud/data-schemas">Data Schemas Reference</a></li>
		</ul>
	</li>

	<!-- FAQ -->
	<li><a class="menu-group-title" href="{{ site.baseurl }}/docs/extensions/tutorials/faq">FAQ</a></li>

	<li id="signup-button-menu" class="menu-button-signup hidden-md hidden-lg"><a href="#signup" class="button-signup">Stay informed</a></li>
	<li class="sidelink hidden-md hidden-lg"><a href="http://new.shoutem.com">Shoutem home</a></li>
	<li class="sidelink hidden-md hidden-lg"><a href="http://new.shoutem.com/about">About</a></li>
	<li class="sidelink hidden-md hidden-lg"><a href="http://new.shoutem.com/terms-of-service">Terms of service</a></li>
	<li class="sidelink hidden-md hidden-lg"><a href="http://new.shoutem.com/about/contact-us">Contact us</a></li>
</ul>
