<div id="signup-modal" role="dialog" aria-labelledby="dialog-title" aria-describedby="dialog-description">
  <div class="content">
    <div class="signup-title" id="dialog-title">Stay informed</div>
    <div class="signup-description" id="dialog-description">Subscribe to our newsletter if you'd like to stay informed about Shoutem Extensions and Shoutem UI Toolkit.</div>
    <!-- Begin MailChimp Signup Form -->
    <div id="mc_embed_signup">
      <form action="//shoutem.us1.list-manage.com/subscribe/post?u=2465033d224d289aca631307f&amp;id=8c16387120" method="post" id="mc-embedded-subscribe-form" name="mc-embedded-subscribe-form" class="validate" target="_blank" novalidate>
        <div id="mc_embed_signup_scroll">
            <label for="mce-EMAIL">Enter your email*</label>
            <input type="email" spellcheck="false" value="" name="EMAIL" class="signup-email required email form-control" placeholder="Enter your email" id="mce-EMAIL">
          <div class="control-buttons">
            <input type="button" value="Cancel" name="cancel" id="mc-embedded-cancel" class="cancel-button"><input type="submit" value="Sign up" name="subscribe" id="mc-embedded-subscribe" class="signup-button">
          </div>

          <div id="mce-responses" class="clear">
            <div class="response" id="mce-error-response" style="display:none"></div>
            <div class="response" id="mce-success-response" style="display:none"></div>
          </div>
          <div style="position: absolute; left: -5000px;" aria-hidden="true"><input type="text" name="b_2465033d224d289aca631307f_8c16387120" tabindex="-1" value=""></div>
          <div class="clear"></div>
        </div>
      </form>
    </div>
    <!--End mc_embed_signup-->
  </div> 
</div>