$imagesPath: '../img/';

/* animation container */
.shoutem-ani { 
    position: absolute; 
    z-index: 1; 
    left: 0; 
    top: 0; 
    width: 100%; 
    height: 100%; 
    overflow: hidden;
    pointer-events: none;

    .particle { 
        position: absolute; 
        pointer-events: none; 
        user-select: none; 
        -webkit-touch-callout: none; 
        touch-callout: none; 
    }
    .particle-1 { 
        @include size(14px, 14px);
        @include background-png-3x(particle-1); 
    }
    .particle-2 {
        @include size(24px, 24px);
        @include background-png-3x(particle-2);
    }
    .particle-3 { 
        @include size(15px, 15px);
        @include background-png-3x(particle-3);
        /*@include rotating();*/
    }
    .particle-4 { 
        @include size(15px, 15px);
        @include background-png-3x(particle-4);
        /*@include rotating();*/
    }
    .particle-5 {
        @include size(75px, 95px);
        @include background-png-3x(particle-5);

        .thrust-line { 
            position: absolute; 
            top: 77px;
            @include size(3px, 15px);
            @include border-radius(2px);
            background: white;
            animation: ani-thrust-line 1.1s linear infinite;
        }
        .thrust-line-1 { 
            left: 19px; 
        }
        .thrust-line-2 { 
            left: 24px; 
            animation-delay: 0.25s;
        }
        .thrust-line-3 { 
            left: 29px; 
            animation-delay: 0.65s;
        }
        .thrust-line-4 { 
            left: 43px; 
            animation-delay: 0.35s;
        }
        .thrust-line-5 { 
            left: 48px; 
            animation-delay: 0.85s;
        }
        .thrust-line-6 { 
            left: 53px; 
            animation-delay: 0.55s;
        }    
    }
}
