/* Bootstrap overrides */
body {
    color: $primary;
    line-height: 30px;
}
blockquote {
    border-width: 1px;
    font-size: 17px;
    padding: 1px 22px;
}
blockquote p {
    color: $primary
}

blockquote .small, 
blockquote footer, 
blockquote small {
    display: block;
    font-size: 16px;
    font-weight: normal;
}

/*Remove line from blockqute*/
blockquote .small:before, 
blockquote footer:before, 
blockquote small:before {
    content: "";
}

pre {
    border-color: $code;
    margin-bottom: 24px;
}

hr {
    display: none;
}

hr.menu-hr {
    display: block;
    border-top: 1px solid #ccc;
    margin-top: 15px;
    margin-bottom: 12px;
}

p {
    margin-bottom: 20px;
    color: $text;
}
h1 {
    @include headline(48px, 48px);
}

h2 {
    @include headline(24px, 32px);
}

h4 {
    font-weight: bold;
    margin-bottom: 25px;
}

h5 {
    @include headline(20px, 32px);
    font-weight: normal;
}

a:focus,
a:hover {
    color: $accent;
    text-decoration: underline;
    outline: none;
}

.row {
    position: relative;
}

::-moz-selection {
    color: white;
    background: #00aadf;
    text-shadow: none;
}

::selection {
    color: white;
    background: #00aadf;
    text-shadow: none;
}

input[type=text], input[type=tel], input[type=email], input[type=submit], textarea {
    -webkit-font-smoothing: antialiased; 
    -moz-osx-font-smoothing: grayscale; 
    -webkit-appearance: none;
    appearance: none; 
    resize: none; 
    outline: none;
}