/*Documentation*/
$accent: #00aadf;
$primary: #444f6c;
$primaryhover: #4a5b85;
$secondary: rgba(68, 79, 108, 0.2);
$secondaryhover: rgba(68, 79, 108, 0.3);
$text: #888fa1;
$code: #f3f3f3;
$lightaccent: rgba(0, 170, 223, 0.08);
$lightaccent-2: rgba(0, 170, 223, 0.16);

/*Landing page*/
$hometext: #697289;
$homeheading: #222b35;
$lightbackground: #efefef;
$footercolor: #7b7f8c;
$footerbackground: #232b40;
$muted: #858585;
$green: #6db81d;
$graybackground: #ebebeb;
$bluebackground: #e5f7fc;
$darkbluebackground: #2e3854;
$chapterfooter: #969cac;
