#wrapper {
    width: 100%;
    background: #FFFFFF;
}

.container-docs {
    max-width: 1170px;
    margin: 0 auto;
}

.documentation-wrapper {
    width: 100%;
    display: inline-block;
    float: left;
    padding-top: 80px;
}

#sidebar-wrapper {
    padding-top: 56px;
    margin-right: 15px;    
    float: left;
}

.image {
    margin-top: 20px;
    margin-bottom: 40px;

    img {
      margin: 0 auto;
      display: block;
      width: 100%;
   }
}

@media (min-width: 768px) {
  #sidebar-wrapper {
    display: inline-block;
  }
  .documentation-wrapper {
      width: 100%;
  }
}

@media (min-width: 1024px) {
  .documentation-wrapper {
      max-width: 870px;
  }
}
