.footer {

    position: fixed; 
    bottom: 0; 
    width: 100%; 
    z-index: -1;

    @include small {
        position: static;
    }

    .signup {
        text-align: center;
        background-color: #2E3854;

        padding: 0 24px;

        .signup-title {
            @include headline(45px, 60px, #fff);
            font-weight: 100;
            text-align: center;
            padding-top: 80px;
            margin-bottom: 15px;

            @include mobile {
                font-size: 36px;
                line-height: 46px;
                max-width: 240px;
                margin: 0 auto 15px;
                padding-top: 60px;
            }
        }

        .signup-description {
            color: #A3A7B3;
            line-height: 30px;
            max-width: 570px;
            margin: 0 auto 32px;

            @include mobile {
                width: 100%;
                margin-bottom: 30px;
            }
        }

        .signup-email {
            width: 370px;
            height: 56px;
            border-radius: 4px;
            background-color: transparent;
            padding: 1px 15px 0;
            margin-bottom: 80px;
            margin-right: 8px;
            border: 1px solid rgba(136, 143, 161, 0.5);
            color: #FFF;

            &::-webkit-input-placeholder {
                color: #BDC0CB;
            }
            &::-moz-placeholder { /* Firefox 19+ */
                color: #BDC0CB;
                opacity: 1;
            }
            &:-ms-input-placeholder {
                color: #BDC0CB;
            }
            &:-moz-placeholder {
                color: #BDC0CB;
                opacity: 1;
            }

            @include easeLinear;
            
            &:focus {
                color: #FFF;
                border-color: rgba(136, 143, 161, 0.85);
                background: none;
            }
            
            @include small {
                margin-bottom: 12px;
                margin-left: auto;
                margin-right: auto;
                width: 100%;
                max-width: 280px;
                display: block;
            }
        }

        .signup-button {
            width: 188px;
            height: 56px;
            border: 1px solid #fff;
            border-radius: 4px;
            background-color: #fff;
            text-transform: uppercase;
            margin-bottom: 40px;
            font-weight: bold;
            font-size: 14px;
            letter-spacing: 1px;
            padding: 1px 0 0;

            @include easeLinear;
            
            &:hover, &:focus,
            &:active {
                border-color: $accent;
                background-color: $accent;
                color: white;
            }

            @include small {
                width: 100%;
                max-width: 280px;
                margin-bottom: 60px;
            }           
        }
        
    }

    .bottom-footer {

        background-color: $footerbackground;
        height: 90px;
        color: $footercolor;
        padding-top: 22px;
    
        @include small {
            height: 366px;
        }

        .container-fluid {
            max-width: 1210px;
        }

        .footer-logo {        
            @include logoimage('../img/shoutem_logo_footer.png', 85px, 30px);
            opacity: 0.4;
            float: left;
            margin-top: 9px;
            @include easeLinear;

            @include small {
                float: none;
                display: block;
                margin-bottom: 24px;
            }

            @include small {
                margin: 8px 0 12px;
            }
            
            &:hover,
            &:active {
                opacity: 1;
            }
        }

        .footer-menu {
            float: right;
            opacity: 1;
            color: $footercolor;
            list-style: none;
            margin-top: 10px;
            margin-left: 0;
            padding-left: 0;

            @include small {
                float: none;
                padding: 0;
            }

            @include small {
                margin-top: 0;
            }

            li {
                float: left;

                @include small {
                    float: none;
                    display: block;
                }

                &.icon-twitter a,
                &.icon-github a {
                    background-image: url(/img/icon-twitter.svg);
                    background-repeat: no-repeat;
                    background-size: 22px;
                    background-position: center;
                    text-indent: -100px;
                    width: 24px;
                    height: 24px;
                    overflow: hidden;
                    display: inline-block;
                    margin-left: 48px;
                    margin-top: 3px;
                    opacity: 0.4;

                    &:hover,
                    &:active {
                        opacity: 1;
                    }

                    @include small {
                        margin-top: 0;
                    }
                }

                &.icon-github {

                    @include small {
                        &:before {
                            content: "Follow";
                            text-transform: uppercase;
                            font-size: 13px;
                            letter-spacing: 1px;
                            display: block;
                            color: $text;
                            opacity: 0.5;
                            margin: 23px 0 17px;
                        }
                    }

                    a {
                        background-image: url(/img/icon-github.svg);
                        background-size: 20px;
                        margin-left: 37px;

                        @include small {
                            margin-left: 0;
                            float: left;
                        }
                    }
                }
            }

            a {
                color: $text;
                @include easeLinear;
                font-size: 14px;
                padding: 10px 11px;
                margin-left: 22px;

                &:hover,
                &:active {
                    color:  white;
                    text-decoration: none;
                }

                @include small {
                    margin-left: 0;
                    display: block;
                    padding: 5px 0;
                }
            }
        }
    }
}