.headroom {
    will-change: transform;
    transition: transform 200ms linear;
}
.headroom--pinned {
    transform: translateY(0%);
}
.headroom--unpinned {
    transform: translateY(-100%);
}

.navbar-right { 
    margin-right: 0;
}

.navbar-default .navbar-nav {
    .active {
        .navbar-nav--a--link {

            color: $accent;
            background: none;
            transition: none;
            
            &:hover,
            &:focus {
                background: none;
                color: $accent;
            }

            &::after,
            &::before {
                -webkit-transform: scale3d(1, 1, 1);
                transform: scale3d(1, 1, 1);
            }

            &::before {
                -webkit-transition-delay: 0s;
                transition-delay: 0s;
            }            
        }
    } 
    .navbar-nav--a--link {
    	position: relative;
        color: $hometext;
        @include easeLinear(0.4s, linear, color);

        &:hover, &:focus {
            color: $accent;
        }

        &:hover::before,
        &:focus::before {
            -webkit-transform: scale3d(1, 1, 1);
            transform: scale3d(1, 1, 1);
            -webkit-transition-delay: 0s;
            transition-delay: 0s;
        }


        &::before, &::after {
            content: '';
            position: absolute;
            bottom: -1px;
            left: 0;
            width: 100%;
            height: 4px;
            -webkit-transform: scale3d(0, 1, 1);
            transform: scale3d(0, 1, 1);
            -webkit-transform-origin: center left;
            transform-origin: center left;
        }        
        
        &::after {
            background: $accent;
        }
        &::before {
            -webkit-transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
            transition: transform 0.4s cubic-bezier(0.22, 0.61, 0.36, 1);
            background: #00BEF7;
        }
    }
    
    
    .active>.navbar-nav--a--link,
    .navbar-nav--a--link:focus,
    .navbar-nav--a--link:hover {
    }
    .btn-primary {
        margin-top: 18px;
        border-radius: 4px;
        height: 48px;
        font-size: 16px;
        padding-top: 12px;
        color: #fff;
        font-weight: bold;
        background: $accent;
        @include easeLinear();
        &:focus,
        &:hover {
            color: #fff;
            background-color: #00BEF7;
            border: 1px solid #00BEF7;
        }
    }
    
    
}

.navbar .container-fluid {
    max-width: 1210px;
}
.navbar .navbar-brand {
    padding: 0;
    height: auto;
    margin-top: 21px;
    margin-left: 0;
    margin-right: 0;
}
.navbar .navbar-brand--logo {
  background-image: url('../img/logo-shoutem-for-developers.svg');
  background-position: left center;
  background-repeat: no-repeat;
  background-size: 100%;
  width: 187px;
  height: 34px;
  text-indent: -1000%;
  overflow: hidden;
  display: block;
}
#wrapper {
  padding-top: 80px;
}
@media (min-width: 768px) {
  .navbar-nav>li>a {
      padding: 30px 0 28px; 
      margin-right: 32px; 
  }
  .navbar-nav>li>a.btn-primary {
      padding: 12px 16px 0;
      margin-right: 0px; 
  }
}


.navbar-default .navbar-toggle {
    border: none;
    padding: 7px 4px 6px 3px;
    margin: 28px 0 0;
}

.navbar-toggle .icon-bar {
    width: 17px;
    height: 1px;
}

.home .breadcrumb {
    display: none;
}

.breadcrumb {
    margin-top: 19px;
    margin-bottom: 0;
    margin-left: 24px;
    background: none;
    color: $primary;

    li:first-child {
        opacity: 0.7;
    }

    li + li:before {
        content: "";
        display: inline-block;
        background: url(/img/icon-descriptive-next.svg) center center no-repeat;
        width: 24px;
        height: 12px;
        margin: 0 17px 0 13px;
    }
}