#pager-wrapper
{
    max-width: 1440px;
    margin: 80px auto 0;

    .pager {
        background: #FFFFFF;
        margin: 0 0 0 280px;

        @include medium-2 {
            margin-left: 0;
        }

        a {
            width: 50%;
            border: none;
            border-radius: 0;
            height: 88px;
            padding-top: 31px;

            @include small {
                height: 72px;
                padding-top: 28px;
                line-height: normal;
            }
        }

        .previous a {
            background-color: $lightaccent;
            color: $accent;
            transition: background 0.2s linear;
            
            &:hover {
                background-color: rgba(0,170,223,0.14);
            }

            &::before {
                content: " ";
                display: inline-block;
                width: 13px;
                height: 13px;
                margin-right: 24px;
                background: url(/img/icon-arrow-left.svg) center center no-repeat;
                vertical-align: middle;
                margin-bottom: 1px;
            }

            @include small {
                color: transparent;
                width: 72px !important;
                overflow: hidden;
            }
        }

        .next a {
            background-color: $accent;
            color: #fff;
            transition: background 0.2s linear;
            
            &:hover {
                background-color: #00bef7;
            }

            &::after {
                content: " ";
                display: inline-block;
                background: url(/img/icon-arrow-right.svg) center center no-repeat;
                width: 15px;
                height: 13px;
                vertical-align: middle;

                @include small {
                    height: 72px;
                    line-height: 72px;
                    background-size: 15px 13px;
                    vertical-align: middle;
                    margin-left: -24px;
                }
            }

            span {
                display: inline-block;
                vertical-align: middle;
                margin-right: 24px;

                @include small {
                    margin-right: 36px;
                }
            }

            @include small {
                width: calc(100% - 72px);
                padding: 0 10px 0 0;
            }
        }

        .previous {
            @include small {
                overflow: hidden;
                width: 72px !important;
            }
        }
        
        img {
            position: relative;
            width: 13px;
            height: 13px;
            bottom: 1px;
        }
        
        .docs-pager-icon-left {
            right: 24px;
        }
        
        .docs-pager-icon-right {
            left: 24px;
        }

        .inactive
        {
            background-color: $lightaccent;
            float: left;
            width: 50%;
            height: 88px;
            padding-top: 32px;

            &.next {
                background-color: $accent;

                @include small {
                    width: calc(100% - 72px);
                }
            }

            a {
                display: none;
            }

            @include small {
                height: 72px;
            }
        }
    }
}