.sidebar-nav {
    width: 270px;
    margin: 0;
    padding: 0;
    list-style: none;

    ul {
        padding: 0;
        background-color: $lightaccent;
    }

    li {
        text-indent: 20px;
        line-height: 40px;

        &.active {
            border-left: 3px solid $accent;
            a {
                color: $accent; 
            }
        }

        ul {
            list-style: none;
            font-size: 15px;
            margin-left: 20px;
        }

        a {
            display: block;
            text-decoration: none;
            color: $primary;

            &:active,
            &:focus {
                text-decoration: none;
            }
        }
    }
}

.menu-group-title {
    color: $primary;
    opacity: 0.6;
    font-size: 17px;
}

.sidebar-brand {
    display: none;
}
