.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #FFF;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li a {
            padding-left: 40px;
        }
    }

    li {
        font-size: 14px;

        &.primary > a {
            height: 48px;
            line-height: 48px;
            font-size: 15px;
            font-weight: 700;
        }

        .active:not(.menu-group-title) {
            background-color: $lightaccent;
        }
        
        a {
            height: 40px;
            width: 100%;
            display: inline-block;
            line-height: 40px;
            vertical-align: middle;
            color: $primary;
            text-decoration: none;
            padding-left: 24px;
            font-size: 14px;
            @include easeLinear();

            &:hover,
            &:active,
            &:focus {
                background-color: $lightaccent-2;
            }
        }
    }

    &.level-1 > li > a {
        font-size: 15px;
        font-weight: 700;
        height: 48px;
        line-height: 48px;
    }

    .sidelink a {
        font-weight: 500 !important;
        font-size: 14px !important;
        height: 40px !important;
        line-height: 40px !important;
    }

    .button-signup {
        color: #00aadf;
        font-weight: 700;
        font-size: 15px;
    }

    .menu-button-signup {
        padding: 15px 0;
        border-top: 1px solid #DDD;
        border-bottom: 1px solid #DDD;
        margin: 15px 0 !important;
    }
}
