.navigation {
    list-style: none;
    margin: 0;
    padding: 0;
    background: #FFF;

    ul {
        list-style: none;
        padding: 0;
        margin: 0;

        li a {
            padding-left: 40px;
        }
    }

    li {
        font-size: 14px;

        &.primary {
            font-size: 16px;
            
            > a {
                height: 48px;
                line-height: 48px;
            }
        }

        .active:not(.menu-group-title) {
            background-color: $lightaccent;
        }
        
        a {
            height: 40px;
            width: 100%;
            display: inline-block;
            line-height: 40px;
            vertical-align: middle;
            color: $primary;
            text-decoration: none;
            padding-left: 24px;
            font-size: 14px;
            @include easeLinear();

            &.menu-group-title {
                font-size: 16px;
                height: 48px;
                line-height: 48px;
            }

            &:hover,
            &:active,
            &:focus {
                background-color: $lightaccent-2;
            }
        }
    }
}
