@font-face {
    font-family: 'SourceCode';
    src: url('../fonts/sourcecodepro-medium-webfont.eot');
    src: url('../fonts/sourcecodepro-medium-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/sourcecodepro-medium-webfont.woff2') format('woff2'),
         url('../fonts/sourcecodepro-medium-webfont.woff') format('woff'),
         url('../fonts/sourcecodepro-medium-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/museosans-100-webfont.eot');
    src: url('../fonts/museosans-100-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans-100-webfont.woff2') format('woff2'),
         url('../fonts/museosans-100-webfont.woff') format('woff'),
         url('../fonts/museosans-100-webfont.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;

}

@font-face {
   font-family: 'MuseoSans';
   src: url('../fonts/museosans-300-webfont.eot');
   src: url('../fonts/museosans-300-webfont.eot?#iefix') format('embedded-opentype'),
        url('../fonts/museosans-300-webfont.woff2') format('woff2'),
        url('../fonts/museosans-300-webfont.woff') format('woff'),
        url('../fonts/museosans-300-webfont.ttf') format('truetype');
   font-weight: 300;
   font-style: normal;
}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/museosans_500-webfont.eot');
    src: url('../fonts/museosans_500-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_500-webfont.woff2') format('woff2'),
         url('../fonts/museosans_500-webfont.woff') format('woff'),
         url('../fonts/museosans_500-webfont.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'MuseoSans';
    src: url('../fonts/museosans_700-webfont.eot');
    src: url('../fonts/museosans_700-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/museosans_700-webfont.woff2') format('woff2'),
         url('../fonts/museosans_700-webfont.woff') format('woff'),
         url('../fonts/museosans_700-webfont.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}

body {
  /* makes font rendering the same on Windows/OSX/iOS/Android */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
