<!DOCTYPE html>
<html>

  {% include head.html %}
  <link rel="stylesheet" type="text/css" href="/css/documentation.css">
  </head>

	<body>
  {% include navbar.html %}

	<div id="wrapper">
    <div class="container-docs clearfix">
      <div id="sidebar-wrapper">
  <ul class="sidebar-nav" id="menu">
      
    <li class="sidebar-brand">
      <a href="/docs/">
          Developer portal
      </a>
    </li>
    <!-- Getting started -->
    <li>
      <a class="menu-group-title" href="/docs/getting-started/introduction">Getting Started</a>
      <div id="getting-started" style="display:none;">
        <ul>
          <li>
            <a href="/docs/getting-started/introduction">Introduction</a>
          </li>
          <li>
            <a href="/docs/getting-started/development-environment">Development Environment</a>
          </li>
          <li>
            <a href="/docs/getting-started/initializing-extension">Initializing Extension</a>
          </li>
          <li>
            <a href="/docs/getting-started/shortcut">Shortcut</a>
          </li>
          <li>
            <a href="/docs/getting-started/screen">Screen</a>
          </li>
          <li>
            <a href="/docs/getting-started/data-schemas">Data Schemas</a>
          </li>
          <li>
            <a href="/docs/getting-started/loading-data">Loading Data</a>
          </li>
          <li>
            <a href="/docs/getting-started/component">Component</a>
          </li>
          <li>
            <a href="/docs/getting-started/missing-fields">Missing fields</a>
          </li>
          <li>
            <a href="/docs/getting-started/ui-toolkit">UI toolkit</a>
          </li>
          <li>
            <a href="/docs/getting-started/publish">Publish</a>
          </li>
        </ul>
      </div>
    </li>

    <!-- RestaurantsRatings -->
    <li>
      <a class="menu-group-title" href="/docs/user-data/introduction">Implementing user data</a>
      <div id="user-data" style="display:none;">
        <ul>
          <li>
            <a href="/docs/user-data/introduction">Introduction</a>
          </li>
          <li>
            <a href="/docs/user-data/adapt-ui">Adapt UI</a>
          </li>
          <li>
            <a href="/docs/user-data/submitting-user-data">Submitting user data</a>
          </li>
          <li>
            <a href="/docs/user-data/shoutem-authentication">Shoutem Authentication</a>
          </li>
          <li>
            <a href="/docs/user-data/properties-admin-pages">Properties for Admin pages</a>
          </li>
          <li>
            <a href="/docs/user-data/cloud-code">Cloud Code</a>
          </li>
          <li>
            <a href="/docs/user-data/summary">Summary</a>
          </li>
        </ul>
      </div>
    </li>

    <!-- Shopify -->
    <li>
      <a class="menu-group-title" href="/docs/3rd-party/introduction">Connecting to 3rd party service</a>
      <div id="3rd-party" style="display:none;">
        <ul>
          <li>
            <a href="/docs/3rd-party/introduction">Introduction</a>
          </li>
          <li>
            <a href="/docs/3rd-party/creating-ui">Creating UI</a>
          </li>
          <li>
            <a href="/docs/3rd-party/custom-admin-page">Custom admin page</a>
          </li>
          <li>
            <a href="/docs/3rd-party/authorize">Authorization</a>
          </li>
          <li>
            <a href="/docs/3rd-party/hooks">Hooks and Shoutem API</a>
          </li>
          <li>
            <a href="/docs/3rd-party/shoutem-sdk">Shoutem SDK</a>
          </li>
          <li>
            <a href="/docs/3rd-party/client-settings">Client settings</a>
          </li>
          <li>
            <a href="/docs/3rd-party/summary">Summary</a>
          </li>
        </ul>
      </div>
    </li>

    <hr class="menu-hr"/>

    <!-- API -->
    <li>
      <a class="menu-group-title" href="/docs/api">API</a>
    </li>

    <!-- Components -->
    <li>
      <a class="menu-group-title" href="/docs/components">Components</a>
    </li>

    <!-- Debugging -->
    <li>
      <a class="menu-group-title" href="/docs/debugging">Debugging</a>
    </li>
  </ul>
</div>

    <div class="documentation-wrapper">
      <div class="container-fluid">
        <div id="documentation">
        <!-- It will work both on page and github markdown -->
        {{ content | replace: 'http://shoutem.github.io' : site.baseurl }}
				</div>
      </div>
    </div>
    <div class"clearfix"></div>
    </div>
  </div>
  
  <div id="mobile-menu-overlay" class="mobile-menu-overlay" onclick="closeMenu()">
      <div class="close-menu-overlay">
        <span class="close-icon"></span>
     </div>
      <ul>
        <li class="nav-link primary"><a href="/">Home</a></li>
        <!--<li class="nav-link primary"><a href="">Features</a></li>-->
        <li class="nav-link primary nav-link-active"><a href="/docs/getting-started/introduction">Docs</a></li>
        <li class="nav-separator"></li>
        <li class="nav-link"><a href="http://www.shoutem.com/">Shoutem Home</a></li>
        <li class="nav-link"><a href="http://www.shoutem.com/about">About</a></li>
        <li class="nav-link"><a href="http://www.shoutem.com/termsofservice">Terms of service</a></li>
        <li class="nav-link"><a href="http://www.shoutem.com/privacypolicy">Privacy</a></li>
        <li class="nav-link"><a href="http://www.shoutem.com/dmca">DMCA</a></li>
      </ul>
    </div>
    
  {% include footer.html %}
  <!-- Set active menu -->
  <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="/js/headroom.min.js"></script>
  <script src="/js/menu.js"></script>
  <script src="/js/main.js"></script>
  <script>
  $(function() {
    showMenuItems();
    // var location = window.location.href;
    // var startingIndex = location.indexOf('/docs/') + 6;
    // var endIndex = location.slice(startingIndex).indexOf('/') + startingIndex;
    // var section = location.slice(startingIndex, endIndex);

    // var path = location.slice(endIndex).slice(0, -1);

    // $('#' + section).show();
    // // Make active parent <li> of <a>
    // // Select last matched link, because sections also have links

    // $('#documentationTab').addClass('active');

    // $('a[href$="' + path + '"]:last').parent().addClass('active');
  });
    
  </script>
  {% include ga.html %}
	</body>

</html>

