<!DOCTYPE html>
<html>

{% include head.html %}
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/prism.css">
<link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/documentation.css">
<!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/lib/codemirror/codemirror.css"> -->
</head>

<body class="documentation">
  {% include navbar.html %}

  <div id="sidebar-wrapper">

    <ul class="sidebar-nav navigation" id="menu">

      <!-- Extensions -->
      <li><a class="menu-group-title" href="{{ site.baseurl }}/docs/getting-started/introduction">Getting Started</a>
        <ul id="getting-started" class="menu-group-wrapper">
          <li><a href="{{ site.baseurl }}/docs/getting-started/introduction">Introduction</a></li>
          <li><a href="{{ site.baseurl }}/docs/getting-started/development-environment">Setting up the environment</a></li>
          <li><a href="{{ site.baseurl }}/docs/getting-started/initializing-extension">Initializing extension</a></li>
          <li><a href="{{ site.baseurl }}/docs/getting-started/navigation-and-screen">Creating navigation and screen</a></li>
          <li><a href="{{ site.baseurl }}/docs/getting-started/using-ui-toolkit">Using UI Toolkit</a></li>
          <li><a href="{{ site.baseurl }}/docs/getting-started/using-cloud-storage">Using Cloud Storage</a></li>
          <li><a href="{{ site.baseurl }}/docs/getting-started/working-with-data">Working with data</a></li>
          <li><a href="{{ site.baseurl }}/docs/getting-started/publish">Publishing</a></li>
        </ul>
      </li>

      <!-- Tutorials -->
      <li><a class="menu-group-title" href="{{ site.baseurl }}/docs/tutorials/alternativelayouts">Tutorials</a>
        <ul id="tutorials" class="menu-group-wrapper">
          <li><a href="{{ site.baseurl }}/docs/tutorials/alternativelayouts">Alternative layouts</a></li>
          <li><a href="{{ site.baseurl }}/docs/tutorials/usingauthentication">Using authentication</a></li>
        </ul>
      </li>

      <!-- Components -->
      <li>
        <a class="menu-group-title" href="{{ site.baseurl }}/docs/ui-toolkit/introduction">UI toolkit</a>
        <ul id="ui-toolkit" class="menu-group-wrapper">
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/introduction">Introduction</a></li>
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/theme">Theme</a></li>
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/typography">Typography</a></li>
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/navigation-bar">Navigation Bar</a></li>
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/dropdown-menu">Dropdown Menu</a></li>
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/list-view">List View</a></li>
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/grid-view">Grid View</a></li>
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/cards">Cards</a></li>
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/dividers">Dividers</a></li>
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/rows">Rows</a></li>
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/tiles">Tiles</a></li>
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/image-preview">Image Preview</a></li>
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/horizontal-pager">Horizontal Pager</a></li>
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/image-gallery">Image Gallery</a></li>
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/video">Video</a></li>
          <li><a href="{{ site.baseurl }}/docs/ui-toolkit/spinner">Spinner</a></li>
        </ul>
      </li>

      <!-- CLI -->
      <li>
        <a class="menu-group-title" href="{{ site.baseurl }}/docs/cli/reference">CLI</a>
        <ul id="cli" class="menu-group-wrapper">
          <li><a href="{{ site.baseurl }}/docs/cli/reference">Reference</a></li>
        </ul>
      </li>
    </ul>
  </div>

  <div id="wrapper">

    <div class="documentation-wrapper">
      <div id="documentation">
        <!-- It will work both on page and github markdown -->
        {{ content | replace: 'http://shoutem.github.io' : site.baseurl }}
      </div>
    </div>

    <nav id="pager-wrapper">
      <ul class="pager">
        <li class="previous inactive"><a href="#">Previous</a></li>
        <li class="next inactive"><a href="#">Next</a></li>
      </ul>
    </nav>

</div>

{% include signup-modal.html %}

  <!-- <script src="{{ site.baseurl }}/lib/codemirror/codemirror.js"></script>
  <script src="{{ site.baseurl }}/lib/codemirror/mode/javascript/javascript.js"></script>
  <script src="{{ site.baseurl }}/lib/codemirror/mode/jsx/jsx.js"></script> -->

  <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/headroom.min.js"></script>
  <script src="{{ site.baseurl }}/js/flourish.js"></script>
  <script src="{{ site.baseurl }}/js/main.js"></script>
  <script src="{{ site.baseurl }}/js/docs.js"></script>
  <script src="{{ site.baseurl }}/js/prism.js" data-manual></script>
  {% include ga.html %}
</body>

</html>

