<!DOCTYPE html>
<html>

  {% include head.html %}
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/prism.css">
  <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/css/documentation.css">
  <!-- <link rel="stylesheet" type="text/css" href="{{ site.baseurl }}/lib/codemirror/codemirror.css"> -->
  </head>

	<body>
  {% include navbar.html %}

	<div id="wrapper">
    <div class="container-docs clearfix">
      <div id="sidebar-wrapper">
  <ul class="sidebar-nav" id="menu">

    <li class="sidebar-brand">
      <a href="/docs/">
          Developer portal
      </a>
    </li>
    <!-- Extensions -->
    <li>
      <a class="menu-group-title" href="{{ site.baseurl }}/docs/getting-started/introduction">Getting Started</a>
      <div id="getting-started" class="menu-group-wrapper" style="display:none;">
        <ul>
          <li>
            <a href="{{ site.baseurl }}/docs/getting-started/introduction">Introduction</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/getting-started/development-environment">Setting Environment</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/getting-started/initializing-extension">Initializing Extension</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/getting-started/shortcut">Creating Shortcut</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/getting-started/creating-screen">Creating Screen</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/getting-started/shoutem-ui-toolkit">Using UI Toolkit</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/getting-started/using-cloud-storage">Using Cloud Storage</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/getting-started/working-with-data">Working with data</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/getting-started/publish">Publishing</a>
          </li>
        </ul>
      </div>
    </li>

    <!-- Components -->
    <li>
      <a class="menu-group-title" href="{{ site.baseurl }}/docs/ui-toolkit/introduction">UI toolkit</a>
      <div id="ui-toolkit" class="menu-group-wrapper" style="display:none;">
        <ul>
       	   <li>
            <a href="{{ site.baseurl }}/docs/ui-toolkit/introduction">Introduction</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/ui-toolkit/theme">Theme</a>
          </li>
       	  <li>
            <a href="{{ site.baseurl }}/docs/ui-toolkit/typography">Typography</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/ui-toolkit/navigation-bar">Navigation Bar</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/ui-toolkit/dropdown-menu">Dropdown Menu</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/ui-toolkit/list-view">List View</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/ui-toolkit/grid-view">Grid View</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/ui-toolkit/cards">Cards</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/ui-toolkit/dividers">Dividers</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/ui-toolkit/rows">Rows</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/ui-toolkit/tiles">Tiles</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/ui-toolkit/image-preview">Image Preview</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/ui-toolkit/horizontal-pager">Horizontal Pager</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/ui-toolkit/image-gallery">Image Gallery</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/ui-toolkit/video">Video</a>
          </li>
          <li>
            <a href="{{ site.baseurl }}/docs/ui-toolkit/spinner">Spinner</a>
          </li>
          <li>
        </ul>
      </div>
    </li>
    <!-- CLI -->
    <li>
      <a class="menu-group-title" href="{{ site.baseurl }}/docs/cli/reference">CLI</a>
      <div id="cli" class="menu-group-wrapper" style="display:none;">
        <ul>
       	   <li>
            <a href="{{ site.baseurl }}/docs/cli/reference">Reference</a>
          </li>
        </ul>
  </ul>
</div>

    <div class="documentation-wrapper">
      <div class="container-fluid">
        <div id="documentation">
        <!-- It will work both on page and github markdown -->
        {{ content | replace: 'http://shoutem.github.io' : site.baseurl }}
				</div>
      </div>
    </div>
    <div class"clearfix"></div>
    </div>

    <nav id="pager-wrapper">
      <ul class="pager">
        <li class="previous" style="display: none;">
          <a href="#"><img class="docs-pager-icon-left" aria-hidden="true" src="{{ site.baseurl }}/img/icon-arrow-left.svg"></img>Previous</a>
        </li>
        <li class="next" style="display: none;">
          <a href="#">Next<img class="docs-pager-icon-right" aria-hidden="true" src="{{ site.baseurl }}/img/icon-arrow-right.svg"></a>
        </li>
      </ul>
    </nav>
  </div>

  <div id="mobile-menu-overlay" class="mobile-menu-overlay" onclick="closeMenu()">
      <div class="close-menu-overlay">
        <span class="close-icon"></span>
     </div>
      <ul>
        <li class="nav-link primary"><a href="/">Home</a></li>
        <!--<li class="nav-link primary"><a href="">Features</a></li>-->
        <li class="nav-link primary nav-link-active"><a href="{{ site.baseurl }}/docs/getting-started/introduction">Docs</a></li>
        <li class="nav-separator"></li>
        <li class="nav-link"><a href="http://www.shoutem.com/">Shoutem Home</a></li>
        <li class="nav-link"><a href="http://www.shoutem.com/about">About</a></li>
        <li class="nav-link"><a href="http://www.shoutem.com/termsofservice">Terms of service</a></li>
        <li class="nav-link"><a href="http://www.shoutem.com/privacypolicy">Privacy</a></li>
        <li class="nav-link"><a href="http://www.shoutem.com/dmca">DMCA</a></li>
      </ul>
    </div>

  {% include footer.html %}
  <!-- Set active menu -->

  <!-- <script src="{{ site.baseurl }}/lib/codemirror/codemirror.js"></script>
  <script src="{{ site.baseurl }}/lib/codemirror/mode/javascript/javascript.js"></script>
  <script src="{{ site.baseurl }}/lib/codemirror/mode/jsx/jsx.js"></script> -->

  <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/js/headroom.min.js"></script>
  <script src="{{ site.baseurl }}/js/main.js"></script>
  <script src="{{ site.baseurl }}/js/docs.js"></script>
  <script src="{{ site.baseurl }}/js/prism.js" data-manual></script>
  {% include ga.html %}
	</body>

</html>

