<!DOCTYPE html>
<html>

{% include head.html %}
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/prism.css">
<link rel="stylesheet" type="text/css" href="{{ site.url }}/css/documentation.css">
<!-- <link rel="stylesheet" type="text/css" href="{{ site.url }}/lib/codemirror/codemirror.css"> -->
</head>

<body class="documentation overview">
	{% include navbar.html %}

	<div id="sidebar-wrapper">
		{% include sidebar-nav.html %}
	</div>

	<div id="wrapper">

		<div class="documentation-wrapper">
			<div id="documentation">
				<!-- It will work both on page and github markdown -->
				{% include overview-content.html %}
			</div>
		</div>

		<nav id="pager-wrapper">
			<ul class="pager">
				<li class="previous inactive"><a href="#"><span>Previous</span></a></li>
				<li class="next inactive"><a href="#"><span>Next</span></a></li>
			</ul>
		</nav>

	</div>

	<div class="mobile-menu-overlay">
		<div class="close-menu-overlay">
		</div>
	</div>

	{% include signup-modal.html %}

  <!-- <script src="{{ site.url }}/lib/codemirror/codemirror.js"></script>
  <script src="{{ site.url }}/lib/codemirror/mode/javascript/javascript.js"></script>
  <script src="{{ site.url }}/lib/codemirror/mode/jsx/jsx.js"></script> -->

  <script src="https://code.jquery.com/jquery-2.2.3.min.js"   integrity="sha256-a23g1Nt4dtEYOj7bR+vTu7+T8VP13humZFBJNIYoEJo="   crossorigin="anonymous"></script>
  <script type="text/javascript" src="{{ site.url }}/js/headroom.min.js"></script>
  <script src="{{ site.url }}/js/flourish.js"></script>
  <script src="{{ site.url }}/js/main.js"></script>
  <script src="{{ site.url }}/js/docs.js"></script>
  <script src="{{ site.url }}/js/prism.js" data-manual></script>
  {% include ga.html %}
</body>

</html>

